body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.menu{
    background-color: #4267B2;
    color:white;
}
.brand-name{
    font-size: 35px;
    font-weight: bold;
}
.input-menu{
    width: 75%;
}
.bottom{
    position: absolute !important;
    bottom: 0;
}
.left-body{
    border-right: 2px solid black;
    height: 100vh;
    font-size: 13px;
}
.photo{
    border: 1px solid black;
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 80px;
}
.underline{
    text-decoration: underline;
    color: blue;
}
.big-text{
    font-size: 20px;
}
.bord-top{
    border-top: 2px solid black;
}
.bord-bottom{
    border-bottom: 2px solid black;
}
.grey-bcg{
    background-color: lightgray;
}
.ad{
    height: 100px;
    border: 2px solid black;
    line-height: 100px;
    width: 100%;
    text-align: center;
}